* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
}

.ancho {
    width: 80%;
    height: 70px;
    margin: auto;
}
.logo {
    width: 10%;
    height: 70px;
    float: left;
    margin-right: 100px;
}

.logo p a {
    text-align: center;
}

nav {
    width: 70%;
    height: 80px;
    float: left;
    text-align: center;
    padding-top: 18px;
    font-family: sans-serif;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color:black;
    font-size: 20px;
    text-decoration: none;
    padding:13px 50px 13px 50px;
}

.slider {
    width: 100%;
    height: 600px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;

    justify-content: center;
    align-items: flex-end;

}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
}

.slider input[type="radio"] {
    display: none;
}

.slider input[type="radio"]:checked ~ img {
    opacity: 1;
}
.slider input[type="radio"] + label {
    position: relative;
    z-index: 50;
    margin: 10px;

    display: block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
}